.card:hover{
    box-shadow: 3px 3px 3px black;
    transform:scale(1.03);
}

.card{
  transition:0.3s;
  border: 3px solid #a6a296;
  padding: 4px;
}

.card-img-top {
    border-bottom: 2px solid #a6a296;
    padding: 5px;
}

.img-modal {
  width: 300px;
  height: 300px;
  border-bottom: 0px white;
  vertical-align: bottom;
}

.type-img {
  width: 68px;
  height: 15px;
}

.flag {
  display: table-cell;
  vertical-align: middle;
}


