<div class="row">
  <div class="card" style="margin: 2em">
    <img src="assets/images/matheo.png" class="card-img-top" alt="Mathouille la fripouille">

    <div class="card-body">
      <h5 class="card-title pokemon-font">Mathéo Vlaykov</h5>
    <a href="https://github.com/Explovictini">Visiter l'arène</a><br>
      <a href="mailto:victini@netcourrier.com">Mail du Champion</a>
    </div>
  </div>
  <div class="card" style="margin: 2em">
    <img src="assets/images/mathis.png" class="card-img-top" alt="Mathis l'ecrevisse">

    <div class="card-body">
      <h5 class="card-title pokemon-font">Mathis Villalta</h5>
      <a href="https://github.com/mvaitlhliaslta">Visiter l'arène</a><br>
      <a href="mailto:mathisvillalta@gmail.com">Mail du Champion</a>
    </div>
  </div>
</div>
