<input type="text" [(ngModel)]="searchword" (input)="searchThis()" style="margin-top: 1em;" class="w-25">{{searchThis()}}
<div class="container" ng-init="searchThis()">
  <div class="row">
    <app-strat-pokemon
                      *ngFor="let pok of pokemonArrayCopy"
                      style="margin-top: 7px; margin-bottom: 7px;"

                      [dexNumber]="pok.dexNumber"
                      [name]="pok.name"
                      [name_english]="pok.name_english"
                      [name_deutsch]="pok.name_deutsch"
                      [name_japan]="pok.name_japan"
                      [nb_type]="pok.nb_type"
                      [type1]="pok.type1"
                      [type2]="pok.type2"
                      [height]="pok.height"
                      [weight]="pok.weight"
                      [hp]="pok.hp"
                      [force]="pok.force"
                      [defense]="pok.defense"
                      [special]="pok.special"
                      [speed]="pok.speed"
                      [weaknesses_resistances]="pok.weaknesses_resistances"
                      [description]="pok.description">
    </app-strat-pokemon>
  </div>
</div>
