/* Styles pour la barre de recherche */

.form-control{
    width: 30%;
}

@media screen and (max-width: 576px) {
    .form-control{
        width: 75%;;
    }

    .form-outline{
        display: flex;
        align-items: right;
        justify-content: center;
    }
  }

  @media screen and (min-width: 576px) and (max-width: 768px) {
    .form-control{
        width: 60%;
    }

    .form-outline{
        display: flex;
        align-items: right;
        justify-content: center;
    }
  }
