<!-- Carousel Pokémon -->

<div class="row">
    <div class="col d-flex align-items-center justify-content-center">
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="4000">
                    <img src="assets/sprites/Sprite_001_J.png" class="d-block w-100" alt="Bulbizarre">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/sprites/Sprite_006_J.png" class="d-block w-100" alt="Dracaufeu">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/sprites/Sprite_008_J.png" class="d-block w-100" alt="Carabaffe">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/sprites/Sprite_025_J.png" class="d-block w-100" alt="Pikachu">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/sprites/Sprite_065_J.png" class="d-block w-100" alt="Alakazam">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/sprites/Sprite_094_J.png" class="d-block w-100" alt="Ectoplasma">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/sprites/Sprite_130_J.png" class="d-block w-100" alt="Léviator">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/sprites/Sprite_131_J.png" class="d-block w-100" alt="Lokhlass">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/sprites/Sprite_135_J.png" class="d-block w-100" alt="Voltali">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/sprites/Sprite_143_J.png" class="d-block w-100" alt="Ronflex">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/sprites/Sprite_150_J.png" class="d-block w-100" alt="Mewtwo">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                    <img src="assets/sprites/Sprite_151_J.png" class="d-block w-100" alt="Mew">
                </div>
            </div>
            <img src="assets/images/pokeball.png" class="pokeball pokeball-top-left" alt="Pokéball top left"/>
            <img src="assets/images/pokeball.png" class="pokeball pokeball-top-right" alt="Pokéball top right"/>
            <img src="assets/images/pokeball.png" class="pokeball pokeball-bottom-left" alt="Pokéball bottom left"/>
            <img src="assets/images/pokeball.png" class="pokeball pokeball-bottom-right" alt="Pokéball bottom right"/>
        </div>
    </div>
</div>

<br>
<br>

<p>Bienvenue sur ce site exclusivement consacré à Pokémon !</p>
<p>Vous y retrouverez un Pokédex de Pokémon Jaune ainsi qu'une partie "Stratégie".</p>
<p>A noter que comme ce  site se base exclusivement sur Pokémon Jaune, certaines informations ne sont pas valables pour les jeux actuels.</p>
<br>
<p>Voici les anciennes règles qui régissaient le jeu:</p>
<ul>
    <li>Les types Fée, Acier et Ténèbres n'existent pas ;</li>
    <li>Le type Poison possédait une faiblesse au type Insecte ;</li>
    <li>Le type Insecte possédait une faiblesse au type Poison ;</li>
    <li>L'Attaque Spéciale et la Défense Spéciale était combinée en une seule statistique, appelée "Spécial" ;</li>
    <li>Les IV et les talents n'existaient pas ;</li>
    <li>Les attaques étaient physiques ou spéciales selon leur type (ex: Ultralaser était une attaque physique) ;</li>
    <li>Les EV existaient mais avaient une importance moindre car ils étaient tous maxés lors des combats (aujourd'hui, chaque Pokémon dispose de 512 EV à repartir dans les 6 statistiques avec un maximum de 256 EV par statistiques).</li>
</ul>

<br>
<br>
